.navbar {
	border-radius: 0;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 200;
	box-shadow: 3px 3px 3px #2a2a2a;
	background: url('/assets/wood_1.png')
}

.navbar-inverse a.navbar-brand {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	color: white;
}